.bjimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  object-fit: cover;
 
}
.mcbjimg {
   position : absolute;
    width: 30%;
height: 100%;
z-index: -10;
object-fit:cover;
/* border-radius: 25px; */
}
/* 弹出框 */
.modal {
/* 占满屏幕 */
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* 内容居中 */
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
/* 背景色  */
background-color: rgba(0, 0, 0, 0.6);
/* 置顶 */
z-index: 101;
}
.starter {
/* 占满屏幕 */
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* 内容居中 */
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
/* 背景色  */
background-color: rgb(0, 0, 0);
/* 置顶 */
z-index: 105;
}
.menus {
/* 占满屏幕 */
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* 内容居中 */
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
/* 背景色  */
background-color: rgba(0, 0, 0, 0.6);
/* 置顶 */
z-index: 101;
}
.userpage-bg {
  /* 占满屏幕 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 内容居中 */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* 背景色  */
  background-color: rgba(0, 0, 0, 0.6);
  /* 置顶 */
  z-index: 101;
  }
  .userpage-revise-bg {
    /* 占满屏幕 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 内容居中 */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* 背景色  */
    background-color: rgba(0, 0, 0, 0.6);
    /* 置顶 */
    z-index: 101;
    }
/* 内容 */
.content {
/* 背景色 */
background-color: rgb(255, 255, 255);
/* 置顶 */
position : absolute;
width : 80%;
height : 80%;
z-index: 200;
/* 其他样式 */
border-radius: 25px;
/* padding: 1.2rem; */
}
.menu {
/* 背景色 */
background-color: rgba(247, 235, 235, 0.408);
/* 置顶 */
position : absolute;
width : 80%;
height : 80%;
z-index: 220;
/* 其他样式 */
border-radius: 25px;
/* padding: 1.2rem; */
}
.content2 {
/* 背景色 */
background-color: rgba(9, 9, 9, 0);
/* 置顶 */
z-index: 103;
/* 其他样式 */
border-radius: 1rem;
padding: 1.2rem;
}
.userpage {
  /* 背景色 */
  background-color: rgb(255, 255, 255);
  /* 置顶 */
  position : absolute;
  width : 80%;
  height : 80%;
  z-index: 200;
  /* 其他样式 */
  border-radius: 25px;
  /* padding: 1.2rem; */
  }
.reviseuserpage {
    /* 背景色 */
    background-color: rgba(255, 255, 255, 0.599);
    /* 置顶 */
    position : absolute;
    width : 80%;
    height : 80%;
    z-index: 200;
    /* 其他样式 */
    border-radius: 25px;
    /* padding: 1.2rem; */
    }
/* 隐藏的时候 */
.hidden {
display: none;
}
.button {
display: inline-block;
border-radius: 4px;
background-color: #1e54f4;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 20px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
vertical-align:middle;
}
.button2 {
display: inline-block;
border-radius: 20px;
background-color: #1e54f4;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 15px;
padding: 10px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
/* margin: 5px; */
vertical-align:middle;
}
.back {
  display: inline-block;
  border-radius: 10px;
  background-color: #1e54f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
  }
.close-button {
  float:right;
  width: 3%;
  height: 5%;
  border-radius: 50px;
background-color: #f41e1e;
}
.fixed-bottom { position: fixed; bottom: 0; width:100%;text-align: center;}
.fixed-bottom-button { position: fixed; bottom: 0;text-align: center;}
.inputbox{width:40%;height:6%; border-radius:14px;border:2px solid #0000002b;}
.image{ 
  width: 60px; 
  height:60px; 
  border-radius:200px; 
  margin:5px 0px 5px 5px;
}
.txt1{text-align: center;}
.hlong *{display:inline-block;vertical-align:middle;}
.userbox{
  border-radius: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  width:fit-content;
}
.userpage-avatar{ 
  width:200px; 
  height:200px; 
  border-radius:200px; 
  margin: 0 auto;
}
img{
  width: 100%;
  display: block;
  border-radius: 15px;
  border-bottom-left-radius: 0px;  /* 左下角 */

  border-bottom-right-radius: 0px; 
 }
.funcbox
{
  background-color: rgba(255, 255, 255, 0.615);
  margin: 0px 0px 0px 20px;
  width: 30%;
  height :60%;
  border-radius: 15px;
}



.card {
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--card-bg);
  margin-bottom: 21px;
  transition: all 200ms ease;
}

.card:nth-child(3n-2) {
  margin-left: 0;
  margin-right: 8px;
}

.card:nth-child(3n-1) {
  margin-left: 8px;
  margin-right: 8px;
}

.card:nth-child(3n) {
  margin-left: 8px;
  margin-right: 0;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-grid {
  max-width: 1000px;
  margin: auto;
  padding: 0 16px;
}
.card-content {
  font-size: 19px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: 0.012em;
}